# Data & Output Artifacts (Ignored to keep repo size light)
/data/raw/*
!/data/raw/.gitkeep
/data/processed/*
!/data/processed/.gitkeep
/output/*
!/output/.gitkeep

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Virtual Environments
venv/
.venv/
env/

# Environment Variables & API Keys
.env
*.env

# Python Bytecode & Caches
__pycache__/
*.pyc
.pytest_cache/

# OS Artifacts
.DS_Store
Thumbs.db